* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body {
    margin: 0;
    /* font-family: 'Lato', sans-serif; */
}


ul {
    margin: 0
}

li {
    margin: 0
}

.body-color {
    background-color: #ffd99f;
    /* background-color: #E97777; */
}

header nav {
    background-color: #E97777;
}

ul {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

ul li {
    background-color: #E97777;
    padding: .5rem;
    list-style: none;
}

ul li a {
    /* font-family: 'Lato', sans-serif; */
    text-decoration: none;
    color: #000;
    font-weight: 500;
}

.titleSection {
    display: flex;
    justify-content: space-between;
    background-color: #D9D9D9;
    padding: 10px 20px;
}

.titleContainer {
    background-color: white;
    width: fit-content;
    border-radius: 70%;
    padding: 30px 20px;
}

.title {
    color: #FD8A8A;
}

.inputSearchContainer {
    display: flex;
    height: 20px;
    background-color: white;
    border-radius: 10px;
    padding: 2px;
    align-items: center;
    gap: 5px;
    width: 160px;
    align-self: flex-end;
}

input.inputSearch {
    all: initial;
}

.color-section {
    background-color: #ffd99f;
    /* margin: ; */
}

.color-section h1 h2 {
    background-color: #ffd99f;
}

/* .shippingSection {
    padding: 50px 20px;
    background-color: #ffd99f;
} */

.subTitle {
    margin-bottom: 50px;
    /* font-family: 'Lato', sans-serif; */
}

/* .shippingSection p {
    font-family: 'Lato', sans-serif;
    /* color: #7A1594; */


.centrar-palabra h1 {
    text-align: center;
}

footer {
    background-color: #E97777;
    /* width: 200%; */

}

/** footer**/
.posicion-text {
    list-style: none;
    display: inline-block;
    margin: 0% 10px;
}

.flex {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    height: 200px;
}

.box {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.infoTitle {
    font-family: 'Pixelify Sans', sans-serif;
    font-size: 40px;
    color: white;
    /* flex-direction: row; */
    /* margin:5px 5px 5px 5px; */
    width: 10px;
    /* height: 5px; */
}

.infoText {
    font-family: 'Comic Neue', cursive;
    color: white;
    /* margin: 25px 25px; */
    padding: 15px 10px;

    /* font-family: 'Comic Neue', cursive;
    font-family: 'Gluten', cursive;
    font-family: 'Kanit', sans-serif;
    font-family: 'Pixelify Sans', sans-serif; */
}

.emoji-1 img {
    margin: 10px;

}

.navbar ul li a {
    font-family: Comic Neue, cursive;
    font-size: 25px;
    font-weight: bold;
}
@media (max-width: 500px) {

    /* … */
}


/**banner bebe**/
.banner-bebe {
    display: flex;
    width: 100%;
}

.banner-bebe img {
    width: 100%;
    height: 230px;
    margin: 0 auto;
}

.redes-1 {
    display: flex;
    gap: 50px;

}

/* .face-1 img{ */

/* } */

.contenedor-img {
    display: flex;
    justify-content: center;
    justify-content: space-evenly
}

.baby-foto2 img {
    width: 150px;
    width: 48%;
    padding: 10px 5px;
}

.baby-foto2 h3 {
    text-align: justify
}

.baby-foto img {
    width: 100%;
    padding: 15px 5px;
}

.baby-foto h3 {
    text-align: center;
}

.contenedor-ropa {
    display: flex;
    width: auto;
    height: auto;
    gap: 1.5625rem;
    justify-content: space-around;
    margin: 20px 20px;

    /* align-items: center */
}

h3 {
    font-family: 'Comic Neue', cursive;
    font-weight: bolder;
}

.ropa-1 img {
    width: 70%;
    height: 70%;
    box-shadow: inset;
}

.tex-to {
    text-align: justify;
    color: #000;
    text-transform: uppercase;
    margin: 0 20px;
    font-family: 'Gluten', cursive;
}

.comprar-boton {
    margin: 10px 50px;
    /*direccion posicion */
    border: 2px solid brown;
    border-radius: 15px;
    /*borde del boton*/
    font-size: medium;
    /**tamaño de letra*/
    padding: 10px 20px;
    box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.75);
    font-family: 'Comic Neue', cursive;
}

/* font-family: 'Comic Neue', cursive; */
/* font-family: 'Gluten', cursive; */
/* font-family: 'Pixelify Sans', sans-serif; */
.nuevos-ingresos {
    padding: 0 10px;
    font-family: 'Kanit', sans-serif;
    font-size: 30px
}

/*footer */
footer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
    /* Cada li es una columna */
    gap: 20px;
    /* Espacio entre las columnas */
    padding: 20px;
    /* Espacio alrededor del footer */
    text-align: center;
    /* Centra el contenido en las columnas */
}

ul.flex {
    list-style: none;
    padding: 0;
    margin: 0;
}

li.box {
    border: none;
    /* Sin bordes */
}

footer button {
    display: block;
    margin: 20px 10px;
    border: 0 solid brown;
    border-radius: 15px;
    padding: 20px 20px;
}
.color-button {
    background-color: #E211B4;
}

/* Estilos para adaptarse a dispositivos móviles */
@media (max-width: 767px) {
    footer {
        grid-template-columns: 1fr;
        /* Cambia a una sola columna en dispositivos móviles */
    }

    li.box {
        margin-bottom: 10px;
        /* Espacio entre elementos en dispositivos móviles */
    }
}