/****CONTACTOS*******/

.registro-1 {
    display: block;
}

.registro-form {
    display: grid;
    margin: 4% 23%;
    gap: 20px;
    border: solid;
    padding: 8px;
}

.registro-form input {
    padding: 10px;
    background-color: rgb(209, 209, 195);
    margin: 10px 0px;
    border-radius: 10px
}

.registro-form label {
    display: inline-block;
    font-family: sans-serif;
    font-size: x-large;
}

.button-registro {
    display: grid;
    margin: 4% 42%;
    width: 15%;
    border: solid;
    border-radius: 50px;
    padding: 30px;
    background-color: #d935ce;
    font-family: cursive;
    font-size: 25px;
}

.registrate-ahora {
    text-align: center;
    margin: 20px;
    padding: 5px;
    font-family: Comic Neue, cursive;
    font-size: 45px;
}

.cuenta-crear h2 {
    margin: 0 23%;
    font-family: emoji;
    font-size: 30px;
}